@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #ddd;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
}
body .navbar a,
body .navbar-expand-lg {
  background-color: #333333;
  color: #FC7E3A;
}
body .navbar a .navbar-brand,
body .navbar-expand-lg .navbar-brand {
  color: #ddd;
}
body .navbar a .navbar-toggler .navbar-toggler-icon img,
body .navbar-expand-lg .navbar-toggler .navbar-toggler-icon img {
  width: 100%;
  height: auto;
}
body main {
  background-color: #ddd;
  flex: 1;
}
body main .about-us {
  margin: auto;
  padding: 4rem;
}
body footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #333333;
  color: #FC7E3A;
}
body footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
body footer .footer-container .contacto-sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
body footer .footer-container .contacto-sobre-nosotros .contacto,
body footer .footer-container .contacto-sobre-nosotros .sobre-nosotros {
  text-align: center;
  width: 48%;
}
body footer .footer-container .contacto-sobre-nosotros .contacto h3,
body footer .footer-container .contacto-sobre-nosotros .sobre-nosotros h3 {
  color: #ddd;
  margin-bottom: 10px;
}
body footer .footer-container .contacto-sobre-nosotros .contacto p,
body footer .footer-container .contacto-sobre-nosotros .sobre-nosotros p {
  text-align: center;
  margin-bottom: 5px;
}
@media screen and (max-width: 769px) {
  body .footer-container .contacto-sobre-nosotros {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}
.galeria .producto {
  display: inline-block;
  width: calc(25% - 10px);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s, filter 0.3s;
  /* Aplicar la transición a todos los cambios */
  cursor: pointer;
}
.galeria .producto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.galeria .producto h3 {
  margin: 10px 0;
}
.galeria .producto .precio {
  font-weight: bold;
  color: #FC7E3A;
}
.galeria .producto:hover {
  /* Pseudo-clase :hover para el elemento .producto */
  transform: scale(1.1);
  filter: brightness(80%);
}
@media screen and (max-width: 430px) {
  .galeria .producto {
    width: 160px;
  }
}

.contacto {
  padding: 20px;
}
.contacto .info-contacto {
  margin-bottom: 20px;
  text-align: center;
}
.contacto .info-contacto h2 {
  margin-bottom: 10px;
}
.contacto .info-contacto ul {
  list-style: none;
}
.contacto .info-contacto ul li {
  margin-bottom: 5px;
}
.contacto .map {
  text-align: center;
  margin-bottom: 20px;
}
.contacto .map h2 {
  margin-bottom: 10px;
}
.contacto .map iframe {
  width: 50%;
  height: 450px;
  border: 2px;
}
@media screen and (max-width: 769px) {
  .contacto .map iframe {
    width: 100%;
    height: 200px;
    border: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
