@import "../utilities/variables";

body {
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


// Estilos para la sección principal
main {
  background-color: $light-color ;
  flex: 1;
}

.navbar-toggler-icon img {
  width: 100%;
  height: auto;
}
.navbar,
a {
  background-color: $dark-color;
  color: $primary-color !important;
} 
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: $dark-color;
  color: $primary-color;
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .contacto,
    .footer-sobre-nosotros {
      text-align: center;
      width: 48%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}