@import "../utilities/variables";
@import "../utilities/mixins";

body {
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  // Estilos para la sección principal
  .navbar a,
.navbar-expand-lg {
  background-color: $dark-color;
color: $primary-color;
  .navbar-brand {
    color: $light-color;
  }
  }
  main {
    background-color: $light-color;
    flex: 1;

    .about-us {
      margin: auto;
      padding: 4rem;
    }

    
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: $dark-color;
  color: $primary-color;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    @include flex-center;
    text-align: center;
    justify-content: space-between;

    .contacto-sobre-nosotros {
      @include flex-center;
      width: 100%;
      justify-content: space-between;

      .contacto,
      .sobre-nosotros {
        text-align: center;
        width: 48%;

        h3 {
          color: $light-color;
          margin-bottom: 10px;
        }

        p {
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {

    .footer-container .contacto-sobre-nosotros {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}